*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgb(44, 51, 51);
	color: white;
}

header{
	padding: 20px;
	border-bottom: 1px solid rgb(165, 201, 202);
}

figure img{
	padding-top: 50px;
	width: 340px;
	height: 360px;
}

main{
	display: flex;
	justify-content: center;
	padding-top: 40px;
	margin: 0px 40px;
}

section:first-child{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

section:first-child, figure{
	margin: 0px 40px;
}

section:first-child h1{
	font-size: 4em;
	color: rgb(230, 179, 37);
	font-family: 'Kanit', sans-serif;
}

section:first-child p{
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(165, 201, 202);
	font-size: 20px;
	font-family: 'EB Garamond', serif;
}

div.tambahDaftarBuku{
	margin-right: 100px;
}

div.tombol{
	display: flex;
	justify-content: left;
}

div.tambahDaftarBuku, div.lihatDaftarBuku{
	cursor: pointer;
	color: white;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 30px;
	white-space: nowrap;
}

div.tambahDaftarBuku{
	background-color: rgb(70, 130, 51);
}

div.tambahDaftarBuku:hover{
	background-color: rgb(57, 91, 100);
	color: rgb(231, 246, 242);
	transform: translateY(-5px);
}

div.lihatDaftarBuku{
	border: 1px solid white;
}

div.lihatDaftarBuku:hover{
	transform: translateY(-5px);
}

@media(max-width: 950px){
	figure img{
		position: absolute;
		right: 90px;
		top: 50px;
		width: 170px;
		height: 170px;
	}
	section:first-child h1, section:first-child p, section:first-child div.tombol{
		margin: 20px 0px;
	}

	section:first-child{
		margin-left: 15%;
	}
}

@media(max-width: 910px){
	figure img{
		right: 120px;
	}
	section:first-child{
		margin-left: 10%;
	}
}

@media(max-width:  890px){
	section:first-child{
		margin-left: 5%;
	}	
}

@media(max-width: 850px){
	header h1{
		text-align: center;
	}
	figure img{
		right: 110px;
		width: 150px;
		height: 150px;
	}
	section:first-child h1{
		font-size: 3em;
	}

	section:first-child{
		margin-left: 20%;
	}
}

@media(max-width: 800px){
	figure img{
		right: 40px;
	}

	section:first-child p{
		margin: 35px 0px;
	}
}

@media(max-width: 650px){
	section:first-child h1{
		width:60%;
	}
	section:first-child{
		margin-left: 25%;
	}

	figure img{
		top: 110px;
		right: 100px;
	}
}

@media(max-width: 600px){
	figure img{
		right: 80px;
	}
}

@media(max-width: 530px){
	section:first-child{
		margin-left: 25%;
	}

	section:first-child h1{
		font-size: 2.5em;

	}

	figure img{
		right: 100px;
		top: 70px;
	}
}

@media(max-width: 510px){
	section:first-child h1{
		font-size: 1.7em;
	}

	section:first-child p{
		font-size: 18px;
	}

	figure img{
		top: 80px;
		right:100px;
		width: 110px;
		height: 110px;
	}

	div.tombol{
		display: flex;
		flex-direction: column;

	}

	div.tambahDaftarBuku, div.lihatDaftarBuku{
		text-align: center;
		margin-bottom: 20px;
		width: 40%;
		font-size: 12px;
		padding-left: 5px 0px;
	}
}

@media(max-width: 420px){
	figure img{
		right: 60px;
	}

	section:first-child{
		margin-left: 40%;
	}
}

@media(max-width: 377px){
	header h1{
		font-size: 25px;
	}

	figure img{
		right: 50px;
	}
}

@media(max-width: 340px){
	header h1{
		font-size: 25px;
	}
}

.sectionForm, .sectionDaftarBuku, .customDialog{
	position: absolute;
	z-index: 999;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 10%;
}

/*style form*/
.containerForm{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 80%;
	background-color: rgb(44, 51, 51);
	justify-content: space-evenly;
	padding: 0px 30px;
	border-radius: 20px;
	margin: auto;
}

#judul, #penulis, #tahun{
	margin-bottom: 20px;
	width: 100%;
	padding: 10px 20px;
	border-radius: 50px;
	box-sizing: border-box;
}

.form{
	display: flex;
	flex-direction: column;
}

/*style tombol close form*/

div.closeForm{
	height: 30px;
	width: 30px;
	display: flex;
	cursor: pointer;
}

.sectionForm .containerForm .closeForm div.kiri, .sectionForm .containerForm .closeForm div.kanan{
	width: 2px;
	height: 30px;
	background-color: red;
}

.sectionForm .containerForm .closeForm div.kiri{
	transform: rotate(40deg);
}

.sectionForm .containerForm .closeForm div.kanan{
	transform: rotate(-40deg);
}

/*style tombol close*/

div.closeDaftarBuku{
	height: 30px;
	width: 30px;
	display: flex;
	cursor: pointer;
}

.containerDaftarBuku{
	display: flex;

}

.sectionDaftarBuku .containerDaftarBuku .closeDaftarBuku div.kiri, .sectionDaftarBuku .containerDaftarBuku .closeDaftarBuku div.kanan{
	width: 2px;
	height: 30px;
	background-color: red;
}

.sectionDaftarBuku .containerDaftarBuku .closeDaftarBuku div.kiri{
	transform: rotate(40deg);
}

.sectionDaftarBuku .containerDaftarBuku .closeDaftarBuku div.kanan{
	transform: rotate(-40deg);
}

/*Style tombol tambah*/
.tambah{
	width: 80%;
	height: 35px;
	background-color: rgb(210, 0, 26);;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	margin: auto;
	border-radius: 30px;
	cursor: pointer;
}

.tambah:hover{
	background-color: rgb(180, 0, 26);
}

.checkbox{
	margin-bottom: 15px;
	height: 20px;
}

.checkbox #selesai_dibaca{
	transform: translateY(2px);
}

/*Style Lihat daftar Buku*/
.containerDaftarBuku{
	display: flex;
	flex-direction: row;
	padding: 40px;
	height: 70%;
	background-color: rgb(44, 51, 51);
	justify-content: space-evenly;
	border-radius: 20px;
	margin: auto;
}


section.daftarBukuSelesaiDibaca, section.daftarBukuBelumSelesaiDibaca{
	width: 50%;
	margin: 10px 0px;
	margin-left: 70px;
	overflow-y: auto;
	text-align: center;
}

section.daftarBukuSelesaiDibaca h2, section.daftarBukuBelumSelesaiDibaca h2{
	transform: translateX(-30px);
}

div.belumSelesaiDibaca, div.selesaiDibaca{
	background-color: white;
	color: black;
	width: 70%;
	margin-top: 30px;
	padding: 20px;
	border-radius: 10px;
}

/*Style Action*/
.action{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	font-size: 11px;
	font-weight: bold;
	color: white;
}

.tombolAction, .hapusBuku{
	margin-top: 10px;
	width: 100px;
	border-radius: 20px;
	height: 25px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
}

.tombolAction{
	background-color: green;
}

.hapusBuku{
	background-color: red;
}

/*style custom dialog*/
.containerCustomDialog{
	padding: 50px 50px;
	width: 400px;
	height: 200px;
	background-color: rgb(44, 51, 51);
	border-radius: 20px;
	box-sizing: border-box;;
	margin: auto;
}

.actionCustomDialog{
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
}

.yes{
	background-color: red;
	padding: 10px 20px;
	border-radius: 30px;
	cursor: pointer;
}

.no{
	background-color: green;
	padding: 10px 20px;
	border-radius: 30px;
	cursor: pointer;
}

.yes:hover, .no:hover{
	transform: translateY(-6px);
}

