*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgb(44, 51, 51);
	color: white;
}

header{
	padding: 20px;
	border-bottom: 1px solid rgb(165, 201, 202);
}

figure img{
	padding-top: 50px;
	width: 340px;
	height: 360px;
}

main{
	display: flex;
	justify-content: center;
	padding-top: 40px;
	margin: 0px 40px;
}

section{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

section, figure{
	margin: 0px 40px;
}

section h1{
	font-size: 4em;
	color: rgb(230, 179, 37);
	font-family: 'Kanit', sans-serif;
}

section p{
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(165, 201, 202);
	font-size: 20px;
	font-family: 'EB Garamond', serif;
}

section a:first-child{
	margin-right: 100px;
}

div.tombol{
	display: flex;
	justify-content: left;
}

div.tombol a{
	color: white;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 30px;
	white-space: nowrap;
}

div.tombol a:first-child{
	background-color: rgb(70, 130, 51);
}

div.tombol a:first-child:hover{
	background-color: rgb(57, 91, 100);
	color: rgb(231, 246, 242);
	transform: translateY(-7px);
}

div.tombol a:nth-child(2){
	border: 1px solid white;
}

div.tombol a:nth-child(2):hover{
	transform: translateY(-7px);
}

@media(max-width: 950px){
	figure img{
		position: absolute;
		right: 90px;
		top: 50px;
		width: 170px;
		height: 170px;
	}
	section h1, section p, section div.tombol{
		margin: 20px 0px;
	}

	section{
		margin-left: 15%;
	}
}

@media(max-width: 910px){
	figure img{
		right: 120px;
	}
	section{
		margin-left: 10%;
	}
}

@media(max-width:  890px){
	section{
		margin-left: 5%;
	}	
}

@media(max-width: 850px){
	header h1{
		text-align: center;
	}
	figure img{
		right: 110px;
		width: 150px;
		height: 150px;
	}
	section h1{
		font-size: 3em;
	}

	section{
		margin-left: 20%;
	}
}

@media(max-width: 800px){
	figure img{
		right: 40px;
	}

	section p{
		margin: 35px 0px;
	}
}

@media(max-width: 650px){
	section h1{
		width:60%;
	}
	section{
		margin-left: 25%;
	}

	figure img{
		top: 110px;
		right: 100px;
	}
}

@media(max-width: 600px){
	figure img{
		right: 80px;
	}
}

@media(max-width: 530px){
	section{
		margin-left: 25%;
	}

	section h1{
		font-size: 2.5em;

	}

	figure img{
		right: 100px;
		top: 70px;
	}
}

@media(max-width: 510px){
	section h1{
		font-size: 1.7em;
	}

	section p{
		font-size: 18px;
	}

	figure img{
		top: 80px;
		right:100px;
		width: 110px;
		height: 110px;
	}

	div.tombol{
		display: flex;
		flex-direction: column;

	}

	div.tombol a{
		text-align: center;
		margin-bottom: 20px;
		width: 40%;
		font-size: 12px;
		padding-left: 5px 0px;
	}
}

@media(max-width: 420px){
	figure img{
		right: 60px;
	}

	section{
		margin-left: 40%;
	}
}

@media(max-width: 377px){
	header h1{
		font-size: 30px;
	}

	figure img{
		right: 50px;
	}
}